<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock title %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script type="text/javascript" src="{{ asset('js/all.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery.tagsinput.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
{% block body %}
    {% block header %}
        <div class="baner">
            <div class="language">
                <ul>
                    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'ru'})) }}">RU</a></li>
                    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'en'})) }}">EN</a></li>
                </ul>
            </div>
            <h2 class="text-center">Cherkassy Dance Portal</h2>
            {% block titlepage %}<h3 class="text-center">Dance blog</h3>{% endblock titlepage %}
            <div class="overlay"></div>
        </div>
        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="{{ path('homepage') }}">{{ "menu.home"|trans }}</a></li>
                        <li><a href="{{ path('homepage') }}">{{ "menu.about"|trans }}</a></li>
                        <li><a href="{{ path('homepage') }}">{{ "menu.contact"|trans }}</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    {% endblock header %}
    {% block content %}
        <div class="main-wrapper container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="main section" id="main">
                        {% block maincontent %}
                            <div class="widget SliderPopularPosts" id="SliderPopularPosts">
                                <div class="widget-content">
                                    <div id="slider_post">
                                        <h1> {{ "headers.popular_news" |trans }}</h1>
                                        <hr>
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                {% for value in popular_news %}
                                                    <div class="swiper-slide">
                                                        <div class="bg_post" style="background-image: url('{{ value.getWebPath|imagine_filter('my_thumb') }}')">
                                                            <div class="post_container_slider">
                                                                <h3 class="post_title_slider">
                                                                    <a href="{{ path('post_view', {'slug': value.slug, '_locale': locale }) }}"> {{ value.title }}</a>
                                                                </h3>
                                                                <div class="rating">
                                                                    <i class="fa fa-thumbs-o-up"></i>
                                                                    <span>Rating: {{ value.rating|round(1, 'floor') }}</span>
                                                                </div>
                                                                <div class="post_description_slider">{{ value.content|length > 50 ? value.content|slice(0, 150) ~ '...' : value.content }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                            <!-- Add Pagination -->
                                            <div class="swiper-pagination"></div>
                                            <!-- Add Arrows -->
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget blog" id="blog">
                                <div class="blog-posts hfeed">
                                    <div class="date-outer">
                                        <div class="date-posts">
                                            <div class="post-outer">
                                                <div class="count">
                                                    {{ posts.getTotalItemCount }}
                                                </div>
                                                {% for value in posts %}
                                                    <div class="post hentry">
                                                        <div class="post-body entry-content" id="">
                                                            <div class="thumbs">
                                                                <a href="{{ path('post_view', {'slug': value.slug, '_locale': locale }) }}" style="margin: 0px;">
                                                                    <img src="{{ value.getWebPath|imagine_filter('my_thumb') }}">
                                                                </a>
                                                            </div>
                                                            <div class="items-right">
                                                                <h3 class="post-title entry-title">
                                                                    <a href="{{ path('post_view', {'slug': value.slug, '_locale': locale }) }}">{{ value.title }}</a>
                                                                </h3>
                                                                <h2 class="date-header"><span>{{ value.createTime|date }}</span></h2>
                                                                <p class="excerpt">  {{ value.content }}</p>
                                                                <div class="jump-link">
                                                                    <a href="{{ path('post_view', {'slug': value.slug, '_locale': locale }) }}">Continue Reading<i class="fa fa-caret-right"></i></a>
                                                                </div>
                                                            </div>
                                                            <div style="clear: both;"></div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endblock maincontent %}
                    </div>
                </div>
                {% block sidebar %}
                    <div class="col-lg-4">
                        <aside>
                            <div class="widget" id="welcom_text">
                                <h2 class="title">{{ "headers.welcome" |trans }}</h2><hr>
                                <div class="widget-content">
                                    Asterism is a modern and responsive Blogger template, perfect for fashion and lifestyle blogs. Here you can add a welcome text.
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="widget" id="login_form">
                                <h2 class="title">{{ "headers.session" |trans }}</h2><hr>
                                <div class="widget-content">
                                    <p>{{ "headers.login"|trans }} {{ app.user.username }}</p>
                                    <div id="mc_embed_signup">
                                        <span class="logout_button">
                                            <a href="{{ path('logout') }}">{{ "headers.logout"|trans }}</a>
                                        </span>
                                    </div>

                                    <!--End mc_embed_signup-->
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="widget" id="categories">
                                <h2>{{ "headers.post_by_tags" |trans }}</h2><hr>
                                <div class="widget-content categories-widget-content">
                                    <ul>
                                        {% for value in tags %}
                                            <li>
                                                <a href="{{ path('homepage', {'tag': value.name}) }}">{{ value.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            {% block search %}
                                <div class="widget" id="search">
                                    <h2 class="title">{{ "headers.search" |trans }}</h2><hr>
                                    <div class="widget-content">
                                        <div id="searchthis">
                                            {{ form_widget(form_search.name) }}
                                            {{ form_end(form_search) }}
                                        </div>

                                    </div>
                                    <div class="clear"></div>
                                </div>
                            {% endblock search %}
                            <div class="widget PopularPosts" id="PopularPosts">
                                <h2>{{ "headers.last_news" |trans }}</h2><hr>
                                <div class="widget-content popular-posts">
                                    <ul>
                                        {% for value in last_news %}
                                            <li>
                                                <div class="item-thumbnail-only">
                                                    <div class="item-thumbnail">
                                                        <a href="{{ path('post_view', {'slug': value.slug, '_locale': locale }) }}">
                                                            <img border="0" src="{{ value.getWebPath|imagine_filter('last_news') }}">
                                                        </a>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                    <div class="item-title"><a href="{{ path('post_view', {'slug': value.slug, '_locale': locale }) }}">{{ value.title }} </a></div>
                                                </div>
                                                <div style="clear: both;"></div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </aside>
                    </div>
                {% endblock sidebar %}

            </div>
        </div>
    {% endblock content %}
    {% block footer %}
        <div class="footer">
            <div class="container">
                <div class="bottom-credits">
                    <a href="http://asterism-mairagall.blogspot.com/" title="ASTERISM">ASTERISM</a><br>
                    <i class="fa fa-times">
                    </i><a href="http://www.mairagall.com/en/" id="donotremove" target="_blank">Maira Gall</a>
                </div>
            </div>
        </div>
    {% endblock footer %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script>
        $(document).ready(function(){
            var page = 1;
            var total = $('.count').text();
            var itemsPerPage = 5;
            $(window).scroll(function () {
                if($(window).scrollTop() + $(window).height() == $(document).height()) {
                    page++;
                    console.log(total);
                    if((page-1)* itemsPerPage > total) {
                        $('#no-more').show();
                        $('#more').hide();
                    }else{
                        $('#more').show();

                        $.get(Routing.generate('infinity-scroll', { tag:"{{ tag }}" }, true) + '?page=' + page, function(json) {
                            for (var i in json.posts) {
                                $('.post-outer').html($('.post-outer').html() +
                                        "<div class=\"post hentry\"><div class=\"post-body entry-content\" id=\"\"><div class=\"thumbs\">" +
                                        "<a href=\""+ Routing.generate('post_view', { _locale:"{{ locale }}", slug: json.posts[i].slug }, true) +"\">"+
                                        "<img src=\"http://cdp.salsa.ekreative.com/"+ json.posts[i].path +"\" width=\"350\" height=\"350\" alt=\"Wypas cookie caramels soufflé caramels cookie \">" +
                                        "</a></div>" +
                                        "<div class=\"items-right\">" +
                                        "<h3 class=\"post-title entry-title\">" +
                                        "<a href=\""+ Routing.generate('post_view', { _locale:"{{ locale }}", slug: json.posts[i].slug }, true) +"\">" + json.posts[i].title + "</a></h3>" +
                                        "<h2 class=\"date-header\"><span>" + json.posts[i].createTime + "</span></h2>" +
                                        "<p class=\"excerpt\">" + json.posts[i].content + "</p>" +
                                        "<div class=\"jump-link\">" +
                                        "<a href=\""+ Routing.generate('post_view', { _locale:"{{ locale }}", slug: json.posts[i].slug }, true) +"\">Continue Reading<i class=\"fa fa-caret-right\"></i></a></div>" +
                                        "</div><div style=\"clear:both;\"></div></div></div>");
                            }
                        }, 'json');
                    }
                }
            });

            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                slidesPerView: 1,
                paginationClickable: true,
                spaceBetween: 30,
                loop: true
            });
        });
    </script>
{% endblock %}
<a class="go-top" href="#" style="display: inline;"><i class="fa fa-caret-up"></i></a>
</body>
</html>